@font-face {
  font-family: ScienceGothic;
  src: url(../fonts/ScienceGothicVF.ttf);
}

.SG_smallcaps {
  font-family: ScienceGothic;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --margin: 1rem;
  --full_width: calc(100vw - 2 * var(--margin));
  --nav_height: 80px;
  --font_ratio: calc((100vh - var(--nav_height) - 2 * var(--margin)) / 8);
  --green: #01D64B;
}

html {
  background: var(--green);
}

body {
  font-family: ScienceGothic;
  width: 400vw;
  height: 100vw;
  overflow-y: hidden;
  background-image: linear-gradient(to bottom right, #01FFE4, #080A85);
  -webkit-background-size: 400vw 100vh;
  background-size: 400vw 100vh;
}

.static {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url(../../images/green_static.gif);
  background-repeat: repeat;
  background-size: 400px;
  -webkit-mix-blend-mode: multiply;
  mix-blend-mode: multiply;
}

nav {
  width: var(--full_width);
  height: var(--nav_height);
  position: fixed;
  top: var(--margin);
  left: var(--margin);
}

nav ul li {
  display: inline-block;
  /*font-size: calc((100vh / 8 - var(--margin) * 2) * 1.2);*/
  vertical-align: middle;
}

nav ul li#home {
  font-size: var(--nav_height);
  font-variation-settings: 'wght' 400, 'wdth' 100, 'YOPQ' 122, 'slnt' 0;
  transition: all 1s;
}

nav ul li#home:hover {
  font-variation-settings: 'wght' 800, 'wdth' 200, 'YOPQ' 122, 'slnt' 0;
  transition: all 1s;
}

nav ul li#menu_button, nav ul li#download {
  font-variation-settings: 'wght' 500;
  float: right;
}

#menu {
  position: fixed;
  width: 100vw;
  left: 100vw;
}

.content_container {
  padding-top: var(--nav_height);
  height: calc(100vh - var(--nav_height) - var(--margin) * 2);
}

.section {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: var(--margin);
  width: var(--full_width);
  font-size: 0;
  vertical-align: top;
}

.grid_container {
  width: 100%;
  height: calc(100vh - var(--nav_height) - var(--margin) * 3);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: var(--margin);
}

.grid_container div {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: var(--margin);
}

p {
  font-size: 16px;
}


/* INTRO */

.intro_item {
  background: rgba(0, 0, 0, 0.8);
  color: var(--green);
  padding: var(--margin);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.intro_item:hover {
  background: rgba(0, 0, 0, 1);
  transition: all 0.5s;
}

.intro_item p {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--green);
  transition: color 0.5s;
  line-height: 0.8;
}

.intro_item:hover p {
  color: white;
  transition: color 0.5s;
}

#numerals {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#numerals p {
  font-size: calc(var(--font_ratio) - 2 * var(--margin));
  color: var(--green);
  transition: color 0.5s;
}

#numerals:hover p {
  color: white;
  transition: color 0.5s;
}

@keyframes one {
  0% { font-variation-settings: 'wght' 900 }
  50% { font-variation-settings: 'wght' 100 }
  100% { font-variation-settings: 'wght' 900 }
}

#numerals #one {
  grid-column: 1;
  grid-row: 1;
  font-variation-settings: 'wght' 900;
}

#numerals:hover #one {
  animation: one 6s linear infinite;
}

@keyframes two {
  0% { font-variation-settings: 'wght' 800 }
  43.75% { font-variation-settings: 'wght' 100 }
  93.75% { font-variation-settings: 'wght' 900 }
  100% { font-variation-settings: 'wght' 800 }
}

#numerals #two {
  grid-column: 2;
  grid-row: 1;
  font-variation-settings: 'wght' 800;
}

#numerals:hover #two {
  animation: two 6s linear infinite;
}

@keyframes three {
  0% { font-variation-settings: 'wght' 700 }
  37.5% { font-variation-settings: 'wght' 100 }
  87.5% { font-variation-settings: 'wght' 900 }
  100% { font-variation-settings: 'wght' 700 }
}

#numerals #three {
  grid-column: 3;
  grid-row: 1;
  font-variation-settings: 'wght' 700;
}

#numerals:hover #three {
  animation: three 6s linear infinite;
}

@keyframes four {
  0% { font-variation-settings: 'wght' 600 }
  31.25% { font-variation-settings: 'wght' 100 }
  81.25% { font-variation-settings: 'wght' 900 }
  100% { font-variation-settings: 'wght' 600 }
}

#numerals #four {
  grid-column: 1;
  grid-row: 2;
  font-variation-settings: 'wght' 600;
}

#numerals:hover #four {
  animation: four 6s linear infinite;
}

@keyframes five {
  0% { font-variation-settings: 'wght' 500 }
  25% { font-variation-settings: 'wght' 100 }
  75% { font-variation-settings: 'wght' 900 }
  100% { font-variation-settings: 'wght' 500 }
}

#numerals #five {
  grid-column: 2;
  grid-row: 2;
  font-variation-settings: 'wght' 500;
}

#numerals:hover #five {
  animation: five 6s linear infinite;
}

@keyframes six {
  0% { font-variation-settings: 'wght' 400 }
  18.75% { font-variation-settings: 'wght' 100 }
  68.75% { font-variation-settings: 'wght' 900 }
  100% { font-variation-settings: 'wght' 400 }
}

#numerals #six {
  grid-column: 3;
  grid-row: 2;
  font-variation-settings: 'wght' 400;
}

#numerals:hover #six {
  animation: six 6s linear infinite;
}

@keyframes seven {
  0% { font-variation-settings: 'wght' 300 }
  12.5% { font-variation-settings: 'wght' 100 }
  62.5% { font-variation-settings: 'wght' 900 }
  100% { font-variation-settings: 'wght' 300 }
}

#numerals #seven {
  grid-column: 1;
  grid-row: 3;
  font-variation-settings: 'wght' 300;
}

#numerals:hover #seven {
  animation: seven 6s linear infinite;
}

@keyframes eight {
  0% { font-variation-settings: 'wght' 200 }
  6.25% { font-variation-settings: 'wght' 100 }
  56.25% { font-variation-settings: 'wght' 900 }
  100% { font-variation-settings: 'wght' 200 }
}

#numerals #eight {
  grid-column: 2;
  grid-row: 3;
  font-variation-settings: 'wght' 200;
}

#numerals:hover #eight {
  animation: eight 6s linear infinite;
}

@keyframes nine {
  0% { font-variation-settings: 'wght' 100 }
  50% { font-variation-settings: 'wght' 900 }
  100% { font-variation-settings: 'wght' 100 }
}

#numerals #nine {
  grid-column: 3;
  grid-row: 3;
  font-variation-settings: 'wght' 100;
}

#numerals:hover #nine {
  animation: nine 6s linear infinite;
}

#currency {
  grid-column: 1;
  grid-row: 4 / 7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

#currency p {
  display: block;
  font-size: calc(var(--font_ratio) * 0.5);
  font-variation-settings: 'wdth' 175, 'wght' 300;
  transition: font-variation-settings 0.5s;
}

#ampersand {
  grid-column: 2 / 5;
  grid-row: 4 / 7;
}

#ampersand p {
  position: relative;
  top: 10%;
  font-size: calc(var(--font_ratio) * 3);
  font-variation-settings: 'wdth' 200, 'wght' 300;
  transition: font-variation-settings 0.5s;
}

#ampersand:hover p {
  font-variation-settings: 'wdth' 50, 'wght' 50;
  transition: font-variation-settings 1s;
}

#icelandic {
  grid-column: 1 / 4;
  grid-row: 7 / 9;
}

#icelandic p {
  position: relative;
  top: 5%;
  font-variation-settings: 'wdth' 60, 'wght' 100, 'slnt' 0;
  transition: font-variation-settings 0.5s;
}

#icelandic:hover p {
  font-variation-settings: 'wdth' 60, 'wght' 100, 'slnt' -10;
  transition: font-variation-settings 1s;
}

#cyrillic {
  grid-column: 3 / 6;
  grid-row: 1;
}

#cyrillic p {
  font-variation-settings: 'YOPQ' 18, 'slnt' 0;
  transition: font-variation-settings 0.6s;
}

#cyrillic:hover p {
  font-variation-settings: 'YOPQ' 122, 'slnt' -10;
  transition: font-variation-settings 1s;
}

#elements {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

#elements p {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#elements #elements_1 {
  font-variation-settings: 'wght' 800, 'wdth' 100, 'slnt' -10;
  transition: font-variation-settings 0.5s;
}

#elements:hover #elements_1 {
  font-variation-settings: 'wght' 200, 'wdth' 120, 'slnt' 0;
  transition: font-variation-settings 0.8s;
}

#elements #elements_2 {
  font-variation-settings: 'wght' 550, 'slnt' -10;
  transition: font-variation-settings 0.5s;
}

#elements:hover #elements_2 {
  font-variation-settings: 'wght' 300, 'slnt' 0;
  transition: font-variation-settings 0.8s 0.25s;
}

#elements #elements_3 {
  font-variation-settings: 'wght' 300, 'wdth' 100, 'slnt' -10;
  transition: font-variation-settings 0.5s;
}

#elements:hover #elements_3 {
  font-variation-settings: 'wght' 550, 'wdth' 90, 'slnt' 0;
  transition: font-variation-settings 0.8s 0.5s;
}

#elements #elements_4 {
  font-variation-settings: 'wght' 200, 'wdth' 100, 'slnt' -10;
  transition: font-variation-settings 0.5s;
}

#elements:hover #elements_4 {
  font-variation-settings: 'wght' 800, 'wdth' 75, 'slnt' 0;
  transition: font-variation-settings 0.8s 0.75s;
}


/* TYPE TESTER */

#type_tester {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
}

#sliders {
  grid-column: 1 / 4;
  grid-row: 1 / 6;
}

#sliders ul {
  text-align: justify;
}

#sliders ul li {
  display: inline-block;
  margin-bottom: var(--margin);
}

#sliders ul span {
  float: right;
}

#sliders input {
  display: block;
  width: 100%;
  margin-bottom: calc(2 * var(--margin));
  -webkit-appearance: none;
  height: 1px;
  background: white;
  outline: none;
}

#sliders input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--green);
  cursor: pointer;
  transition: background 0.3s;
}

#sliders input::-webkit-slider-thumb:hover {
  background: white;
  transition: background 0.3s;
}

#sliders input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--green);
  cursor: pointer;
}

#css {
  grid-column: 1 / 4;
  grid-row: 6 / 9;
}

#css .css_code {
  padding: 0;
  margin-top: var(--margin);
  background: none;
}

#css .css_code p {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  letter-spacing: 0;
  line-height: 1.5;
}

#css .css_comment {
  opacity: 0.35;
}

#text_input {
  grid-column: 4 / 13;
  grid-row: 1 / 9;
}

#text_input .fas {
  color: var(--green);
  transition: color 0.3s;
  margin-right: 0.5em;
}

#text_input .fas:hover {
  color: white;
  transition: color 0.3s;
  cursor: pointer;
}

#text_input .fa-align-left {
  color: white;
}

#text_input textarea {
  padding-top: calc(2 * var(--margin));
  width: 100%;
  height: calc(100% - var(--margin));
  font-family: ScienceGothic;
  color: white;
  background: none;
  border: none;
  font-size: 60px;
  line-height: 1.15;
  white-space: normal;
}
